@using Shinomiya.Helpers

<a href="/ShowDetails/@Show.ItemId" class="show" style="background-image: url('@Show.TitleImages.GetAdjustedShowThumbnail(quality: 100, width: 240, height: 240)')">
    <div class="show-content">
        <StarRating Rating=@Show.StarRating />
        <div class="title">
            @foreach (var section in StringHelpers.WrapBottomToTop(Show.Title))
            {
                <div class="title-section">@section</div>
            }
        </div>
    </div>
</a>

@code {
    [Parameter]
    public Show Show { get; set; }
}
