@using Shinomiya.Helpers

<div class="show" style="background-image: url('@Show.TitleImages.ShowThumbnailLowRes')">
    <div class="show-content">
        <StarRating Rating=@Show.StarRating />
        <div class="title">
            @foreach (var section in StringHelpers.WrapBottomToTop(Show.Title))
            {
                <div class="title-section">@section</div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Show Show { get; set; }
}
