@inherits TestComponentBase
@using System.Threading
@using Index = Shinomiya.Client.Pages.Index

<SnapshotTest Setup="RegisterServices">
    <TestInput>
        <Index />
    </TestInput>
    <ExpectedOutput>
        <section class="show-grid">
            <a href="/ShowDetails/1" class="show" style:ignore="">
                <div class="show-content">
                    <svg diff:ignore></svg>
                    <div class="title">
                        <div class="title-section">Hello World</div>
                    </div>
                </div>
            </a>
        </section>
    </ExpectedOutput>

    @code {
        void RegisterServices(SnapshotTest test)
        {
            var mockClient = new Mock<Funimation.FunimationClient>();
            var fakeCall = TestCalls.AsyncUnaryCall<Response>(Task.FromResult(TestUtils.GetFakeShows()), Task.FromResult(new Metadata()), () => Status.DefaultSuccess, () => new Metadata(), () => { });
            mockClient.Setup(funi => funi.GetShowsAsync(It.IsAny<GetShowsRequest>(), null, null, CancellationToken.None))
                .Returns(fakeCall);
            test.Services.AddSingleton(mockClient.Object);
        }
    }
</SnapshotTest>