@inherits TestComponentBase
@using Index = Shinomiya.Client.Pages.Index

<SnapshotTest Setup="RegisterServices">
    <TestInput>
        <Index />
    </TestInput>
    <ExpectedOutput>
        <section class="show-grid">
            <a href="/ShowDetails/1" class="show" style:ignore="">
                <div class="show-content">
                    <svg diff:ignore></svg>
                    <div class="title">
                        <div class="title-section">Hello World</div>
                    </div>
                </div>
            </a>
        </section>
    </ExpectedOutput>

    @code {
        void RegisterServices(SnapshotTest test)
        {
            var mockFunimation = new Mock<IFunimationService>();
            mockFunimation.Setup(funi => funi.GetShowsAsync(It.IsAny<int>(), It.IsAny<int>()))
                .Returns(Task.FromResult(new FunimationResult<Show, ShowFacets>
                {
                    Count = 1,
                    Offset = 0,
                    Limit = 25,
                    Total = 1,
                    Items = new List<Show>
                    {
                    new Show
                    {
                        ItemId = 1,
                        Title = "Hello World",
                        StarRating = 7.76,
                        TitleImages = new ShowTitleImages
                        {
                            ShowThumbnail = "https://cdn.myanimelist.net/images/anime/1395/102089l.jpg"
                        }
                    }
                }
                }));
            test.Services.AddSingleton(mockFunimation.Object);
        }
    }
</SnapshotTest>