<nav class="sidebar">
    <ul>
        <li>
            <NavLink Match="NavLinkMatch.All" class="sidebar-link" href="/">Home</NavLink>
        </li>
        <li>
            <NavLink class="sidebar-link" href="/MyQueue">My Queue</NavLink>
        </li>
    </ul>
</nav>
