@page "/"
@inject Funimation.FunimationClient client

@if (shows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    // todo: maybe add filters and sorting (if I can figure out how to sort)
    <ShowGrid Shows=@shows />
}

@code {
    private IEnumerable<Show> shows;

    protected override async Task OnInitializedAsync()
    {
        var result = await client.GetShowsAsync(new GetShowsRequest
        {
            Limit = 25,
            Offset = 0
        });
        shows = result.Items.Select(i => i.Unpack<Show>());
    }

}
