@page "/"
@using Shinomiya.Models
@inject IFunimationApi funimation

@if (shows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    // todo: maybe add filters and sorting (if I can figure out how to sort)
    <ShowGrid Shows=@shows />
}

@code {
    private IEnumerable<Show> shows;

    protected override async Task OnInitializedAsync()
    {
        var result = await funimation.GetShowsAsync();
        shows = result.Items;
    }

}
